################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Market/obj
/Market/bin
/Market/App_Data
/Market/database
